<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.35.0/mapbox-gl.js'></script>
  </head>
  <body>
    <div id="app"></div>
    <script src="bundle.js" type="text/javascript" charset="utf-8" async defer></script>
  </body>
</html>
