html
  height: 100%
  width: 100%
  margin: 0
  padding: 0

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  height: 100%
  width: 100%
  margin: 0
  padding: 0

a
  color: #00B7FF

#map
  height: 600px
  width: 100%
  position: absolute
  margin: 0
  padding: 0

.map-container
  height: 100%
  width: 100%
  position: relative

.bar-menu
  position: fixed
  left: calc(100% - 450px)
  top: 2%
  border: 2px solid black
  height: 500px
  z-index: 100000
