@font-face
  font-family: LeagueSpartan
  src: url('../fonts/LeagueSpartan-Bold.otf')
  font-weight: bold

html
  height: 100%
  width: 100%
  margin: 0
  padding: 0

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  height: 100%
  width: 100%
  margin: 0
  padding: 0

a
  color: #00B7FF

#map
  height: 600px
  width: 100%
  position: absolute
  margin: 0
  padding: 0

.map-container
  height: 100%
  width: 100%
  position: relative

.bar-menu
  position: fixed
  left: calc(100% - 300px)
  top: 2%
  z-index: 100000
  overflow: hidden
  background-color: rgba(255,255,255,.8)
  min-width: 250px

.bar-listing
  border-bottom: 3px solid #ef7048
  padding 20px
  cursor: pointer
  font-family: LeagueSpartan
  text-align: center

.bar-listing:hover
  background-color: #fdb02e

.marker
  height: 50px
  width: 50px
  background-image: url("../images/DWD_Location-Static.svg")
  background-size: cover
  font-family: LeagueSpartan

.marker:hover
  cursor: pointer

.menu-header
  background-color: #fdb02e
  padding: 10px
  text-align: center
  font-family: LeagueSpartan

.mapboxgl-popup-content
  background: #fdb02e
  font-family: LeagueSpartan

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip
  border-top-color: #fdb02e

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip
  border-bottom-color: #fdb02e

.single-bar-header
  background-color: #ef7048
  text-align: center
  font-family: LeagueSpartan

.bar-name-single
  font-size: 14px
  padding-top: 3px
  font-family: LeagueSpartan

.bar-type
  display: inline
  font-size: 8px

.dog-policy
  display: inline
  font-size: 8px

.bar-name
  font-size: 14px
  padding-top: 3px

.single-bar-info
  background-color: rgba(255,255,255,.8)
  min-height: 60%
  min-width: 250px
